<div class="apps-container">
  <h4 class="apps-title">Hello Python</h4>
  <form [formGroup]="form">
    <label>Name</label>
    <input type="text" formControlName="name">
    <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" 
      class="error-message">This field is required.
    </div>
    <label>Phone</label>
    <input type="text" formControlName="phone">
    <div *ngIf="form.controls['phone'].hasError('required') && form.controls['name'].touched" 
      class="error-message">This field is required.
    </div>
    <button mat-button [disabled]="!form.valid || process" (click)="_onSaved(form.value)">
      {{process?'Saving...':'Save'}}
    </button>
  </form>
  <ul>
    <li *ngFor="let r of items | async as items;">
      <strong>{{r?.name}} {{r.phone}}</strong>
    </li>
  </ul>
  
</div>