.nav-header{
    background-color: $primary;
    padding: 3px 24px;
    min-height: 64px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    .brand-name{
        flex: 1;
    }
}